.product-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 2px #00000020;
}

.product-card-img {
  height: 200px;
}

.product-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-card-body {
  padding: 16px;
}
